
.pills ul li {
	display: inline-block;
	opacity: .7;
	font-size: 13px;
	padding: 0 15px;
}

.pills ul li.active { opacity: 1;}

.pills li:hover { opacity: 1;}

.pills a { color: white;}

.pills i { margin-bottom: 5px;}
