
.pills { padding: 10px 0;}

.pills .nav li {
	display: inline-block;
	opacity: .7;
	font-size: 13px;
}

.pills li:hover { opacity: 1;}

.pills a { color: white;}

.pills i { margin-bottom: 5px;}


@media screen and (max-width: 767.98px) {
	.pills .nav li { font-size: 11px;}
}
