@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 15px;
  background: rgba(0,0,0,.1);
}

.container { max-width: 960px;}

#user {
  background: linear-gradient(to right, #0f2456, #546dd0);
  padding-top: 100px;
  padding-bottom: 30px;
}

#main {
	background: white;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	padding: 30px 60px;
  margin-top: -30px;
}

#main h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

button.btn {
  border-radius: 0;
  padding: 8px 15px;
  font-size: 11px;
}
