
.footer {
	margin-top: 80px;
	background: linear-gradient(to right, #0f2456, #546dd0);
	padding: 40px 0;
	color: white;
}

.footer h5 { margin-bottom: 30px;}

.branding h5 {
  font-size: 24px;
  font-family: 'Pacifico';
  opacity: .8;
  box-shadow: none;
}

.footer p { font-size: 13px; color: lightgrey;}
.footer a { font-size: 13px; color: white;}
.footer a:hover { color: #00BDD4;}

.footer hr { background: linear-gradient(to left, #0f2456, #546dd0);}
