.footer-container {
	width: 100%;
	background-color: lightblue;
	display: flex;
	position: absolute;
	bottom: 0px;
}
.branding, .references, .github {
	display: flex;
	justify-content: space-around;
}