.searchComponent { padding: 0;}

.searchComponent input {
	border-radius: 0;
	padding: 8px 15px;
}

.searchInput { width: 200px;}

.search-span {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

.quantityInput {
	width: 60px;
}
#searchHelpBlock {
	justify-content: center;
    display: flex;
    color: red;
}
.search-span {
	display: flex;
    justify-content: center;
}